@import 'variables';

.main-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .main-card-headline{
    display: flex;
    align-items: center;
  }
  h2{
    width: 92%;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 3%;
  }
  .card-link-more{
    align-self: flex-end;
    font-size: 14px;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  .link-all-services{
    display: flex;
    align-items: center;
    margin: auto 0;
    &:hover p{
      text-decoration: none;
    }
  }
  .link-all-services p{
    color: $yellow;
    text-transform: uppercase;
    text-decoration: underline;
    margin-left: 7%;
  }
}
.gallery-card-headline{
  display: flex;
  align-items: center;
  h2{
    width: 100%;
    line-height: 22px;
  }
}
.main-card.height-2{
  height: calc( (100vw - 320px) / (1800 - 320) * (320 - 300) + 300px );
}
// .gallery-all-events .main-card{
//   justify-content: flex-end;
// }
.bg-pic-1{
  background-color: transparent;
  &:before {
    width: 2000px;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -20;
    left: -100%;
    top: 0;
    bottom: 0;
    background: url(../img/services.png) repeat-y;
  }
}
.bg-pic-2{
  background-color: transparent;
  &:before {
    width: 2000px;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -20;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../img/bg-news.png) repeat-y;
    background-position-y: 30%;
  }
}
.bg-pic-3{
  background-color: transparent;
  &:before {
    width: 1400px;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -20;
    left: -50%;
    top: 0;
    bottom: 0;
    background: url(../img/bg-news2.png);
  }
}
.bg-pic-4{
  background-color: transparent;
  &:before {
    width: 1400px;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -20;
    left: -100%;
    top: 0;
    bottom: 0;
    background: url(../img/bg-gallery.png);
  }
}
.bg-pic-5{
  background-color: transparent;
  &:before {
    width: 1400px;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -20;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../img/bg-gallery2.png);
  }
}

@media screen and (max-width: 1199px) {
  .bg-pic-1:before {
      left: -50%;
  }
  .bg-pic-3:before {
      left: -44%;
  }
  .bg-pic-4:before {
      left: -90%;
  }
}

@media screen and (max-width: 991px) {
  .bg-pic-4:before {
      left: unset;
      right: 0;
  }
  .bg-pic-5:before {
      left: unset;
      right: 0;
      background-position-y: 35%;
  }
}
