@import 'variables';

.news-item{
  background-color: #ffffff;
}
.news-item-text{
  padding: 40px;
  display: flex;
  flex-direction: column;
  p{
    margin-bottom: 10px;
  }
}
.news-item-headline{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  h2{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 10px;
  }
}
.news-item-button{
  align-self: center;
  width: fit-content;
  color: $black;
  margin-top: 40px;
  padding: calc( (100vw - 320px) / (1800 - 320) * (15 - 10) + 10px ) calc( (100vw - 320px) / (1800 - 320) * (40 - 25) + 25px );
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc( (100vw - 320px) / (1800 - 320) * (14 - 12) + 12px );
  background-color: #f1ce39;
  &:hover{
    background-color: #f9dd65;
  }
}
.news-item-pic{
  padding-right: 0px;
}

.news-image-wrapper1{
  padding: 40px;
}
.news-image-wrapper2{
  padding: 0 40px 40px;
}

@media screen and (max-width: 991px) {
  .news-image-wrapper1{
    padding: 0 20px 40px 40px;
  }
  .news-image-wrapper2{
    padding: 0 40px 40px 20px;
  }
}

@media screen and (max-width: 575px) {
  .news-item-text{
    padding: 20px;
  }
  .news-item-button{
    margin-top: 20px;
  }
  .news-image-wrapper1{
    padding: 0 20px 20px 20px;
  }
  .news-image-wrapper2{
    padding: 0 20px 20px 20px;
  }
}
