@import 'variables';

.schedule-card{
  display: flex;
  flex-direction: column;
  .day{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 4%;
  }
  .event{
    margin-top: 6%;
    font-size: 14px;
  }
  time{
    padding: 7px 3.5%;
    margin-right: 10px;
    font-size: 16px;
    color: $yellow;
    background-color: $black;
  }
}
