@import 'variables';

.schedule-card{
  display: flex;
  flex-direction: column;
  .day{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 4%;
  }
  .event{
    margin-top: 6%;
    font-size: 14px;
    &:hover .event-name{
      border-bottom: none;
    }
  }
  .event-time{
    margin-right: 10px;
    font-size: 16px;
    color: $black;
    font-weight: bold;
    border: none;
  }
  .event-name{
    padding-bottom: 2px;
    border-bottom: 2px solid $yellow;
  }
}

@media screen and (max-width: 575px) {
  .schedule-card .event {
      margin-top: 3%;
  }
}
