@import 'variables';

.slider-team{
  padding: 0;
  width: 100%;
  height: calc( (100vw - 320px) / (1800 - 320) * (490 - 420) + 420px );
  .carousel-control-next,
  .carousel-control-prev{
    opacity: 1;
    padding: 0 1%;
    align-items: unset;
    top: 405px;
    &:hover{
      opacity: .5;
    }
  }
  .carousel-control-next{
    right: 77%;
  }
  .carousel-control-prev-icon{
    width: 33px;
    height: 33px;
    background-image: url(../img/arrow.png);
  }
  .carousel-control-next-icon{
    @extend.carousel-control-prev-icon;
    transform: rotate(180deg);
  }
}
.gallery-slider{
  .carousel{
    height: 620px;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .carousel-inner {
    width: 95.5%;
    margin: 0 auto;
  }
  img,
  .img-fluid{
    margin: 0 auto;
  }
  .carousel-control-next,
  .carousel-control-prev{
    justify-content: flex-start;
    opacity: 1;
    padding: 0 1%;
    &:hover{
      opacity: .5;
    }
  }
  .carousel-control-next{
    justify-content: flex-end;
  }
  .carousel-control-prev-icon{
    width: 30px;
    height: 30px;
    background-image: none;
    border-top: 2px solid $yellow;
    border-right: 2px solid $yellow;
    transform: rotate(225deg);
  }
  .carousel-control-next-icon{
    @extend.carousel-control-prev-icon;
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 1199px) {
  .gallery-slider{
    .container-fluid {
      padding: 0 40px;
    }
    .carousel{
      padding: 0;
      height: calc( (100vw - 576px) / (1200 - 576) * (620 - 320) + 320px );
    }
    .carousel-inner {
      width: 100%;
    }
    .carousel-control-next,
    .carousel-control-prev{
      padding: 0 25px;
    }
    .carousel-control-prev-icon{
      border-top: 3px solid $yellow;
      border-right: 3px solid $yellow;
    }
  }
  .slider-team{
    .carousel-control-next,
    .carousel-control-prev{
      top: 400px;
      }
    }
}
